/* styles.css */
body {
    font-family: Aptos, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #344db5; /* Azul clarito */
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-family: 'Verdana', Times, serif;
    font-size: 50px;
    margin: 0;
    color: #ffffff;
}

.header h2 {
    font-family: 'Verdana', Times, serif;
    font-size: 25px;
    margin: 0;
    color: #ffffff;
}

.container {
    font-family: Aptos, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: space-around;    
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button img {
    width: 320px; /* Tamaño de los logos pequeños */
    height: auto;
    border-radius: 5px;
}

   .box {
      text-align: center;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 300px;    
    }

    .box img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .box a {
      display: block;
      margin: 10px 0;
      text-decoration: none;
      color: #007BFF;
      font-weight: bold;
    }

    .box p {
    font-family: Aptos, sans-serif;
      color: #555;
      font-size: 16px;
          text-align: justify;
  text-justify: inter-word;
    }

  .box-wrapper {
      display: flex;
      justify-content: space-around;
      width: 100%;
      gap: 30px; /* Add separation between the boxes */
    }


  .center-image img {
      width: 650px;
      height: auto;
      border-radius: 5px;
      margin-bottom: 50px;
    }

.textcenter {
          font-size: 18px;
      text-align: center;
}

.button:
